$background-yellow: #ebb85d;
$background-grey: #3e3f40;
$medium-margin: 5%;
$large-margin: 8%;
$small-padding: 2%;
$medium-padding: 5%;
$large-padding: 8%;
$text-light: #fff;
$text-dark: #3e3f40;
$list-decoration: none;
$general-font: 'Helvetica';
$m-col: 12;
$s-col: 8;
$xs-col: 2;