@import 'grid';
@import 'variable';

*{
    font-family: $general-font;
    list-style: $list-decoration;
}

header{
    display: flex;
    height: 100px;
    background: $background-yellow;
    font: $general-font;
    color: $text-light;
    align-items: center;
}

.navegador{
//        padding: $medium-padding;
        background: $background-grey;
        &:hover{
            background: $background-yellow;
            color: $background-grey;
        }
        color: $text-light;
//        margin: $medium-margin;
    }

.contenido{
    background: $background-grey;
    color: $text-dark;
//    padding: $small-padding;
    h1, p{
//        margin-bottom: $medium-margin;
    }
}

.lateral{
    background: $background-grey;
    text-align: center;
    color: $text-light;
//    margin: $medium-margin;
//    padding: $large-padding;
    p{
//        margin-bottom: $large-margin;
    }
}


footer{
    background: $background-grey;
    text-align: center;
    color: $text-light;
//    padding: $large-padding;
}

@media (min-width:1024px){
    .navegador{
        width: .col-3;
    }
    .contenido{
        width: .col-6;
    }
    .lateral{
        width: .col-3;
    }
}

@media (min-width: 768px)and (max-width:1024){
    .navegador{
        width: .col-2;
    }
    .contenido{
        width: .col-10;
    }
    .lateral{
        width: .col-12;
    }
}

@media (min-width: 320px)and (max-width:768){
    .navegador{
        width: .col-12;
    }
    .contenido{
        width: .col-12;
    }
    .lateral{
        width: .col-12;
    }
}
    
    
    
    
    