@import 'grid';
@import 'variable';

*{
    font-family: $general-font;
    list-style: $list-decoration;
}

header{
    display: flex;
    height: 100px;
    background: $background-yellow;
    font-family: $general-font;
    color: $text-light;
    align-items: center;
}

#side-nav {
  li{
    background: $background-grey;
    &:hover{
        background: $background-yellow;
        color: $background-grey;
    }
    color: $text-light;
  }
    }

.contenido{
    background: $background-grey;
    color: $text-dark;
//    padding: $small-padding;
    h1, p{
//        margin-bottom: $medium-margin;
    }
}

.lateral{
    background: $background-grey;
    text-align: center;
    color: $text-light;
//    margin: $medium-margin;
//    padding: $large-padding;
    p{
//        margin-bottom: $large-margin;
    }
}


footer{
    background: $background-grey;
    text-align: center;
    color: $text-light;
//    padding: $large-padding;
}

@media (min-width:1024px){
    #side-nav{
      width: 25%;
    }
    #content{
        width: 50%;
    }
    #aside{
        width: 25%;
    }
}

@media (min-width: 768px)and (max-width:1024px){
    #side-nav{
      width: 16.666%;
    }
    #content{
      width: 83.3333%;
    }
    #aside{
        width: 100%;
    }
}

@media (min-width: 320px)and (max-width:768px){
  #side-nav{
      width: 100%;
    }
    #content{
        width: 100%;
    }
    #aside{
        width: 100%;
    }
}
